<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app5.js"></script>

</head>

<body ng-app="mainModule">
    <div ng-controller="mainController">
        <h2>Form 2</h2>
        <form name="testForm">
            <label>Text: <input type="text" name="formText" ng-model="formTextValue" /></label>
            <strong>State:</strong> {{getItemState(testForm.formText)}}<br />
            <label>E-mail: <input type="email" name="formEmail" ng-model="formEmailValue" /></label>
            <strong>State:</strong> {{getItemState(testForm.formEmail)}}<br />
            <br />
            <strong>Form state:</strong> {{getItemState(testForm)}}
        </form>
    </div>
</body>

</html>